body {
	background: #eee;
}

.container {

}

.navbar {
	background: #fff ;
	box-shadow: 4px 5px 7px #ccc;
}

.navbar-brand {
	font-size: 32.5px;

}

.red {
	color: red;
}

#main-title {
	color: red;
	font-weight: bold;
}

#sub-title {
	font-weight: bold;
	color: green;
}

#main {
	background: #fff;
	background-image: url("../images/bg.jpg");
	background-position: center;
	min-height: 490px;
	background-repeat: no-repeat;
	position: relative;
	margin: 25px 0;
	box-shadow: 0 0 3px #ccc;
	

}

#search-form {
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#search-form p {
	font-size: 19px;
}

.nav-link {
	font-size: 18px;
}

.nav-link:hover {
	background: #eee;
	border-radius: 3px;
}

#tf {
	font-size: 23px;
	height: 60px;
	box-shadow:  0 0 35px #ccc;
}

#btn {
	font-size: 23px;
	background:red;
	color: #fff;
	
}

#footer {
	background: #fff;
	box-shadow: 0 0 5px #ccc;
}

#footer  p{
	text-align: center;
	color: #777;
	margin: 0;
	padding: 23px 0;
	
}

#col-1 {
	padding: 35.5px 20px;
}

.search-btn{
	background: #333;
	border-top-right-radius: 13.5px;
	border-bottom-right-radius: 13.5px;
	box-shadow: 5px 5px 10px #777;
	color: #fff;
	font-size: 20.5px;
	margin-left: 30px;
	padding: 10px 20px;
	width: 350px;
	font-weight: bold;
}

.search-btn:hover {
	opacity: 0.5;
}

#note {
	margin-left: 30px;
	padding: 5px 0;
	font-size: 14px;
	color: red;
}

#col-2 {
	padding: 44px 0;

	height: 500px;

}

#col-2 h1 {
	line-height: 2.5;
}

#col-2 p {
	font-size: 16.5px;
}

#download {
	border:solid 1px #eee;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

/*.icons .fa {
	padding: 10px;
	background: #4453c4;
	font-size: 28px;
	color: #fff;
	border-radius: 5px;
	width: 60px;
	text-align: center;
	box-shadow: 5px 5px 10px #000;
	margin-right: 10px;
	margin-top: 5px;
}
*/
.icons .fa:hover {
	background-color: #092756;
	transition: 0.5s;
}

#topnav p {
	color: #eee;
}

#guide {
	background:#77867F;
	padding: 40px 0px 60px 0;
	color: #fff;
	box-shadow: 0 0 7px #ccc;
	
}

#guide h1 {
	margin-bottom: 40px;
	color: #fff;
}

.step {
	height: 200px;
	width: 100%;
	padding: 20px 10px;
	border-radius: 15px;
	color: #fff;
	position: relative;

	box-shadow: 0 0 5px #ccc;
}

.step div {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.step h3 {
	color: #eee;
}

.step p {
	font-size: 16px;
	padding: 10px 10px;
	color: #fff;
}

.fas {
	font-size: 30px;
}
#feedback {
	box-shadow: 0 0 7px #ccc;
	background: #fcf9f7;
	padding: 50px 0; 
}

#feedback h1 {
 	color: red;
}

#feedback-form {
	padding: 20px;
	border:solid 1px #eee;
	border-radius: 5px;
}

#load {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 100;
}

.loader {
	  border: 16px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 16px solid green;
	  width: 120px;
	  height: 120px;
	  animation: spin 2s linear infinite;
	  left: 43%;
	  top:40%;
	  transform: translate(-50%,-50%,0);
	  position: relative;
	  z-index: 100;
}

.show {
	opacity: 0.8;
	z-index: 100;
}

.hide {
	display: none;
}

/* Safari */
@-webkit-keyframes spin {
 
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#map {
	width: 100%;
	height: 300px;
}
#page {

}

#results {
	margin: 25px 0;
	background: #fff;
	padding: 20px;
}

.image {
	width: 250px;
	height:200px;
	background: #eee;
	position: relative;
	border:solid 1px #ccc;
}

.image h1 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #777;

}

.place-row {
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px #ccc;
}

#search-result{
	padding: 0;
}

#search-result li {
	list-style-type: none;
}

.wrap {
	box-shadow: 0 0 5px #ccc;
	border-radius: 5px;
	margin: 10px 0;
	padding: 10px;
	position: relative;
}

.wrap h3 {
	color: green;
}



.direction {
	position: absolute;
	top: 15px;
	right: 10px;
	background: #eee;
	text-align: center;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

#result-header {
	margin: 30px 0 20px 0;
	font-size: 26px;
}

.wrap h3 {
	font-size: 22px;
}

.fa-arrow-left {
	position: absolute;
	left: 0;
	padding: 10px;
	background: #eee;
}

.directions {
	position: absolute;
	right: 10px;
	bottom: 20px;
	background: #eee;
	font-size: 12px;
	border:0;
	border-radius: 5px;
	padding: 5px;
}

.directions:hover {
	background: #ccc;
	cursor: hand;
}

#modal-map {
	background: #77867F;
	box-shadow: 3px 5px 10px #777;
	position: fixed;
	width: 80%;
	height: 90%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 500;
	padding: 10px;
	border-radius: 5px;

}

#place-map {
	padding: 20px;
	width: 100%;
	height: 90%;
	opacity: 1;
	overflow:visible;
}

.showmap {
	opacity: 1;
}

#modal-map header {
	z-index: 1000;
	background: green;
	width: 100%;
}

#modal-map header h4 {
	float: left;
	color: #fff;
}

#modal-map header span {
	float: right;
	color: #fff;
}

#close-map {
	text-decoration: underline;
	padding: 3px;
}

#close-map:hover {
	cursor: pointer;

}