body {
	background-color: #f4f4f5;
}

.container {

}

.navbar {
	background: #fff ;
	box-shadow: 4px 5px 7px #ccc;
}

.navbar-brand {
	font-size: 32.5px;

}

.red {
	color: red;
}

#main-title {
	color: red;
	font-weight: bold;
}

#sub-title {
	font-weight: bold;
	color: green;
}

#main {
	background: #fff;
	background-image: url("../images/bg.jpg");
	background-position: center;
	background-attachment: fixed;
	min-height: 460px;
	background-repeat: no-repeat;
	position: relative;
	margin: 35px 0;
	box-shadow: 0 0 3px #ccc;
	

}

#search-form {
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.nav-link {
	font-size: 18px;
}

#tf {
	font-size: 23px;
	height: 60px;
}

#btn {
	font-size: 23px;
	background:red;
	color: #fff;
}

#footer {
	background: #333;
	box-shadow: 0 0 5px #ccc;
}

#footer  p{
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 3px;
	
}

#col-1 {
	padding: 35.5px 20px;
}

.search-btn{
	background: #333;
	border-top-right-radius: 13.5px;
	border-bottom-right-radius: 13.5px;
	box-shadow: 5px 5px 10px #777;
	color: #fff;
	font-size: 20.5px;
	margin-left: 30px;
	padding: 10px 20px;
	width: 350px;
	font-weight: bold;
}

.search-btn:hover {
	opacity: 0.5;
}

#note {
	margin-left: 30px;
	padding: 5px 0;
	font-size: 14px;
	color: red;
}

#col-2 {
	padding: 44px 0;

	height: 500px;

}

#col-2 h1 {
	line-height: 2.5;
}

#col-2 p {
	font-size: 16.5px;
}

#download {
	border:solid 1px #eee;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

/*.icons .fa {
	padding: 10px;
	background: #4453c4;
	font-size: 28px;
	color: #fff;
	border-radius: 5px;
	width: 60px;
	text-align: center;
	box-shadow: 5px 5px 10px #000;
	margin-right: 10px;
	margin-top: 5px;
}
*/
.icons .fa:hover {
	background-color: #092756;
	transition: 0.5s;
}

#topnav p {
	color: #eee;
}

#guide {
	background:#fff;
	padding: 40px 0px 60px 0;
	color: #fff;
	box-shadow: 0 0 7px #ccc;
	
}

#guide h1 {
	margin-bottom: 40px;
	color: green;
}

.step {
	height: 200px;
	width: 100%;
	padding: 20px 10px;
	border-radius: 15px;
	color: #fff;
	position: relative;
	border:solid 1px #ccc;
	box-shadow: 0 0 5px #ccc;
}

.step div {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.step h3 {
	color: #333;
}

.step p {
	font-size: 16px;
	padding: 10px 10px;
	color: #333;
}

.fas {
	font-size: 30px;
}
#feedback {
	box-shadow: 0 0 7px #ccc;
	background: #fcf9f7;
	padding: 50px 0; 
}

#feedback h1 {
 	color: red;
}

#feedback-form {
	padding: 20px;
	border:solid 1px #eee;
	border-radius: 5px;
}